

.sideBar-pro{
   grid-area: sidebar;
   padding: 10px;

   input{
        border: 1px solid var(--black-color);
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 25px;
   }

   .filter-control{

      .category{
        margin-bottom:20px;
        h2{
            font-size: 18px;
            font-weight: 600;
            color: var(--black-color);
            margin-bottom: 15px;
        }

        .single-cat{
            display: flex;
            flex-direction: column;
            gap: 9px;
            align-items: flex-start;

            button{
              background: none;
              padding: 0;
              color: #626161;
              cursor:pointer;

              &.active{
                color:#3150cb;
                text-decoration: underline;
              }
            }
        }

      }

      .company{
        margin-bottom:20px;
        h2{
            font-size: 18px;
            font-weight: 600;
            color: var(--black-color);
            margin-bottom: 15px;
        }

        select{
          padding: 0.3rem 1.2rem;
          font-size: 15px;
          color: rgba(29 ,29,29,.8);
          text-transform: capitalize;
        }
      }

      .colors{
        margin-bottom:30px;
        h2{
            font-size: 18px;
            font-weight: 600;
            color: var(--black-color);
            margin-bottom: 15px;
        }

        .bunch-colors{
          display:flex;
          align-items:center;
          gap:5px;

          button:first-child{
            background: none;
            color: #040404;
            text-transform: capitalize;
            opacity:1;
            &.active{
              text-decoration: underline;
            }
          }
          button{
            padding:0;
            width:20px;
            height:20px;
            border-radius:50%;
            cursor:pointer;
            opacity:0.5;
            transition:0.3s ease;

            &.active{
              opacity:1;
            }
          }
        }
      }

      >button{
        background-color: #ec7063;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        padding: 10px 15px;
      }
   }
}