

.logos{
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  margin-top: 70px;

  img{
    width: calc(100% / 4);
    opacity: 0.2;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover{
      opacity:1
    }
  }
}