

section{
  .flow{
    width: 200px;
    padding:10px;
    margin:auto;
    background-color: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border-style:solid;
    border-width:1px 1px 0;
    transform: translateY(87%);
    h1{
      color:#000;
    }
  }
}